.scan-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  padding-right: 5rem;
  position: relative;
}

.image-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-container {
  display: grid;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  width: 60%;
  text-align: right;
  background: linear-gradient(160deg, rgb(70, 70, 80), rgb(30, 30, 40));
  border-radius: 3rem 3rem 0 3rem;
  margin-left: auto;
  padding: 2rem;
  gap: 2rem;
}

.prompt-view {
  margin-left: 1rem;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
  text-align: right;
}

.image-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

.prompt-description {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
  border-radius: 5px;
  line-height: 1;
}

.prompt-image {
  text-align: center;
}
