.content-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  overflow: hidden;
}

.content-header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3.5rem;
  padding-right: 5rem;
}

.content-span {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.content-main {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: flex-start;
  user-select: none;
  display: flex;
  overflow-y: auto;
}

.content-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home,
.emoji {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  -webkit-text-stroke: 0.5px black;
}

.home:active,
.emoji:active {
  transform: scale(0.9);
}

.emoji {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.msg-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  padding-right: 5rem;
  position: relative;
}

.msg-form i {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.msg-input {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: white;
}

.msg-input::placeholder {
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
}

.msg-input:focus::placeholder {
  opacity: 0;
}

.send-table {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #ffd700; /* 골드 (눈에 띄는 색상) */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.send-table:hover {
  background-color: #ffc107; /* 더 밝은 골드 */
  border-color: #daa520; /* 테두리도 변경 */
  transform: scale(1.05);
}

.send-table:active {
  background-color: #ffa000; /* 클릭 시 색 변화 */
  transform: scale(0.95);
}

.hidden-input {
  display: none;
}

.txtarea {
  width: 100%;
  min-height: 200px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  border: 2px solid linear-gradient(160deg, rgb(40, 60, 120), rgb(20, 30, 60));
  border-radius: 8px;
  outline: none;
  resize: vertical;
}

.response {
  width: 80%;
  padding: 3rem;
  font-size: 1.6rem;
  color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(160deg, rgb(40, 60, 120), rgb(20, 30, 60));
  align-self: flex-start;
  border-radius: 3rem 3rem 3rem 0;
  text-align: left;
}

.response span {
  font-size: 1.2rem;
  display: block;
  margin-top: 0.5rem;
}

.delete {
  background-color: red;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background 0.3s ease;
  text-align: center;
  margin-left: 8px;
}

.delete:hover {
  background-color: darkred;
}
